<div style="text-align:center">
  <h1>
    XLSX Reader
  </h1>
  <h5>Convert xlsx data to JSON</h5>
</div>

<div style="text-align:center">
  <div style="border: 2px solid; padding: 2%; margin: auto; width: 52%;">
    <form>
      <input type="file" style="display: inline-block;" (change)="incomingFile($event)" placeholder="Upload file" accept=".xlsx">
      <br><br>

      <label>Enter Sheet No :</label>
      <input type="number" name="sheet-number" class="form-control" min="0"
             placeholder="Enter sheet number" [(ngModel)]="sheetNumber"/>
      <br><br>

      <button type="button" class="btn btn-info" (click)="Upload()">Fetch Data</button>
    </form>
  </div>
</div>

<div style="height: 10px"></div>

<div style="text-align:center">
  <h4>OUTPUT :</h4>
  <textarea [(ngModel)]="output" style="height: 400px; width: 700px; overflow: auto; border: 3px solid;"></textarea>
</div>
